body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #05386b
    -webkit-appearance: none;
}

h1 {
    display: flex;
    justify-content: center;
    color: #05386b;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10vh;
}

button {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: none;
    box-shadow: 0 0 10px #05386b;
    font-size: x-large;
    color: #05386b;
    text-align: center;
}

button:hover {
    background-color: #05386b;
    border-radius: 5px;
    color: white;
}

.resultdisplayer {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

@media (max-width: 375px) {
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3vh;
        text-align: center;
        font-size: small;
    }

    button {
        max-width: 30vw;
    }

    h1 {
        margin-top: 3vh;
        font-size: 1.5rem;
    }
}

img {
    max-height: 130px;
    max-width: 130px;
    z-index: -1;
}

.results {
    font-size: x-large;
}